body {
    margin: 0;
}

h1 {
    margin: 0;
}

.top {
    background-color: #A91079;
}

.middle {
    height: 200px;
    width: 200px;
    background-color: aqua;
}

.bottom {
    height: 200px;
    width: 200px;
    background-color: red;
}